<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconMinimal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMinimal</string>
				</array>
			</dict>
			<key>AppIconNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconNeon</string>
				</array>
			</dict>
			<key>AppIconSunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSunset</string>
				</array>
			</dict>
			<key>AppIconVintage</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconVintage</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
